{% extends "@components/layouts/_base.twig" %}
{% block content %}
	<div class="{{ page_name }}">
		{% block main %}
			<div class="column-order p-3 border bg-secondary-light column_box mt-4">
				Single Column
			</div>
		{% endblock %}
	</div>
{% endblock %}
