<div {{ attributes }}>
  {{ title_suffix }}
  <div class="container home-top-block">
    <div class="row">
      <div class="col-12 col-large-tablet-8 col-desktop-9 home-top-block-body">
        {% include "@molecules/card/_card-body.twig" with {
          card_heading: { 
            item: { 
              heading: { 
                text: content.field_banner_title, 
                level: 3
              }
            }
          },
        card_description: {
          item: {
            paragraph: {
              text: content.body|render|striptags 
            }
           }
          }
        } only %}
      </div>
      <div class="col-12 col-large-tablet-4 col-desktop-3">
        <span class="home-top-block-link">
          {% include "@atoms/button/_anchor-link.twig" with {
            text: content.field_button_1.0['#title'],
            href: content.field_button_1.0['#url'],
            title: content.field_button_1.0['#title'],
          } only %}
        </span>
        <span class="home-top-block-link">
          {% include "@atoms/button/_anchor-link.twig" with {
            text: content.field_button_2.0['#title'],
            href: content.field_button_2.0['#url'],
            title: content.field_button_2.0['#title'],
          } only %}
        </span>
      </div>
    </div>
  </div>
</div>