<h3> My Content </h3>
<div class="flex flex-wrap highwire-personalization-manage-list">
  <div> {{ header }} </div>
  {% for row in rows %}
    {% set row_classes = [default_row_class ? 'views-row'] %}
    <div {{ row.attributes.addClass(row_classes) }}>
      {{ attribute(row, '#rows') }}
    </div>
  {% endfor %}
</div>
