 <div class="content-list-block">
  <div class="row">
    {% for row in products %}
      <div class="product-list">
        {% include "@components/card/_card-item.twig" with {
          image: row.image,
          anchorHead : {
            level: 5,
            button: row.anchorhead
          },
          paragraph :row.paragraph,
        } only %}
      </div>
    {% endfor %}
  </div>
</div>