<div{{ attributes }}>
  <div class="highwire-personalization-user-info__name">Hi {{ name  }}</div>
  <div class="highwire-personalization-user-info__email">{{ email }}</div>
  <div class="highwire-personalization-user-info__logout">{{ logout_link }}</div>
</div>
