<div{{attributes}}>
	<div{{content_attributes}}>
		{% include "@components/site/_search-result-middle.twig" with {
      favorite_loop: [{
        image: { 
          src: img,
          href: url, 
          title: title
        },
        fav_action: {
          date: marker_link_date,
          href: marker_link,
          modaltargetid: modaltargetid,
          text: "Remove from favourites",
          popupdata: marker_popupdata, 
        },
        card_heading: [{ 
          heading: {
            text: type,
            level: 6
          }
        }],
        card_heading_link: [{ 
          anchorHead: {
            level:4 , 
            button: { 
              href: url, 
              title: title, 
              text: title 
            } 
          }
        }],
        card_description: [{ 
          paragraph: { 
            class: 'search-result__description', 
            text: result.short_description
          } 
        }],
        card_link: result.img,
        source: result.source,
        sourceLink: { 
          href: result.source_url, 
          title: result.source_title, 
          text: result.source_title 
        },
        access_icon_placeholder: access_icon_placeholder
      }]
    } only %}
		{{ children }}
	</div>
</div>
