{% extends "@components/layouts/_one-column.twig" %}
{% block main %}
	<div class="container toc-tsc">
		<div class="row">
			{% if toc_table %}
				<div class="toc-left col-12 col-large-tablet-4 col-desktop-3">
					{% include "@components/site/_toc-chapter.twig" with {
						heading: toc_table.heading,
						toc_items: toc_table.toc_items
					} only %}
				</div>
			{% endif %}
			<div class="toc-right col-12 {% if toc_table %}col-large-tablet-8 col-desktop-9{% endif %}">
				<div class="row">
					<div class="toc-right-standard col-12 {% if toc_commentary %}col-large-tablet-6 col-desktop-7{% endif %}">
						{% for ts in toc_stanadard %}
							{% include "@components/site/_toc-chapter.twig" with {
								heading: ts.heading,
								standard_falg: true,
								toc_items: ts.toc_items
							} only %}
						{% endfor %}
					</div>
					{% if toc_commentary %}
						<div class="toc-right-commentary col-12 col-large-tablet-6 col-desktop-5">
							{% for tc in toc_commentary %}
								{% include "@components/site/_toc-chapter.twig" with {
									heading: tc.heading,
									toc_items: tc.toc_items
								} only %}
							{% endfor %}
						</div>
					{% endif %}
				</div>  			
			</div>
		</div>
	</div>
{% endblock %}
