<div{{ attributes|without('class') }} class="{{ attributes.class }} text--main-body">
  <p>We've teamed up with <a href="https://web.hypothes.is/" target="_blank">Hypothesis</a> to provide a tool that integrates your MasonrySociety annotations with annotations you make elsewhere on the web.</p>
  <p><strong>Use Hypothesis to hold discussions, read socially, organize your research, and take personal notes on any web page or PDF.</strong></p>
  <ol>
    <li>Click "Open Hypothesis" to open the Hypothesis sidebar.</li>
    <li>Sign up for or log into your free Hypothesis account.</li>
    <li>Select some text and start annotating.</li>
    <li>Select whether to keep your annotations private, share with a specific group, or share publicly.</li>
  </ol>
  <p class="text--secondary text--small">Find out how to <a href="https://web.hypothes.is/creating-groups" target="_blank">share comments within a class or a project team</a> 
  or take a look at the Quickstart Guides for <a href="https://web.hypothes.is/quick-start-guide-for-students" target="blank">Students</a> and <a href="https://web.hypothes.is/quick-start-guide" target="blank">Teachers</a>.</p>
  <p class="text--secondary text--small">Annotations require a separate Hypothesis account and are not part of your MasonrySociety user account.</p>
</div>