{% for item in Periodicals_slider %}
    <div class="row ">
        <div class="col-12 col-small-tablet-12 ">
            {% include "@atoms/text/_heading.twig" with {
                heading: item.heading
            } only %}
        </div>			
        <div class="col-12 col-small-tablet-12 ">
        <div class="slick-slider six">
            {% include "@components/card/_card-slider.twig" with {
                card_slider_class: item.card_slider_class,
                card_link_items: item.card_link_items
            } only %}
        </div>
        </div>
    </div>	
{% endfor %}	