$page: ".toc";
#{$page} {
  &-tsc {
    ul {
      list-style: none;
      padding: 0;
      margin: 0;
      li {
        position: relative;
        h5 {
          font-size: 17px;
          font-weight: 700;
          padding: 0 0 10px;
          display: block;
          border-bottom: 1px solid $secondary-medium;
        }
      }
      ul {
        margin-left: 20px;
      }
    }
  }
  @include media-breakpoint-up(medium-tablet) {
    &-sticky {    
      position: sticky;
      top: 47px;
      overflow: auto;
      max-height: calc(100vh - 47px);
    }
    &-title {
      position: sticky;
      top: 0;
      background: $white;
      z-index: 998;
    }
  }
  &-title {
    border-top: 1px solid $secondary-medium;
    margin-top: 0 !important;
    + h2 {
      border-bottom: 1px solid $secondary-medium;
      padding: 10px 0 !important;
      @include media-breakpoint-up(medium-tablet) {
        font-size: 30px;
      }
    }
  }
  &-title,
  &-heading {
    h1, h2, h3, h4, h5, h6 {
      border-bottom: 1px solid $secondary-medium;
      padding: 10px 0;
      font-size: 24px;
      font-weight: 500;
      word-wrap: break-word;
    }
    .arrow-toggle {
      font-family: feather;
      @extend .feather-chevron-down;
      cursor: pointer;
      position: absolute;
      top: 12px;
      right: 0;
      font-size: 28px;
    }
    &.active {
      a,
      .part-title {
        color: $danger;
      }
      .arrow-toggle {
        @extend .feather-chevron-up;
        color: $danger;
      }
    }
  }
  &-heading {
    position: relative;
    h1, h2, h3, h4, h5, h6 {
      padding: 10px 125px 10px 0;
      font-weight: 700;
    }
  }
   @include media-breakpoint-up(medium-tablet) {
    &-close {
      font-size: 28px;
      font-weight: 500;
      cursor: pointer;
      position: absolute;
      top: 14px;
      right: 5px;
      &::after {
        content: "x";
      }
      &:hover {
        color: $danger;
      }
    }
  }
  &-left,
  &-right {
    @include media-breakpoint-down(large-tablet) {
      margin-bottom: 50px;
    }
    .table {
      color: inherit;
      .def-item {
        display: table;
        width: 100%;
        .def-term {
          display: block;
          font-weight: 600;
          @include media-breakpoint-up(small-tablet) {
            width: 220px;
            display: table-cell;
          }
        }
        .def-def {
          display: block;
          @include media-breakpoint-up(small-tablet) {
            width: calc(100% - 220px);
            display: table-cell;
          }
        }
      }
    }
  }
  &-left {
    a,
    span.part-title {
      font-size: 17px;
      font-weight: 700;
      padding: 12px 30px 12px 0;
      word-break: break-word;
      display: block;
      border-bottom: 1px solid $secondary-medium;
      &:hover {
        color: $danger;
      }
    }
    ul ul {
      display: none;
    }
  }
  &-right {
    ul,
    .chapter {
      margin-left: 0 !important;
      margin-bottom: 15px;
    }
    .toc-content {
      margin-top: 15px;
      margin-bottom: 20px;
    }
    &-standard {
      @include media-breakpoint-up(medium-tablet) {
        padding-left: 0;
      }
      .toc-sticky {
        max-height: inherit;
        overflow: visible;
        position: static;
        .toc-title {
          top: 47px;
        }
      }
    }
    &-commentary {
      @include media-breakpoint-up(medium-tablet) {
        padding-left: 0;
      }
      h2 {
        border-bottom: 1px solid $secondary-medium;
        padding: 10px 0;
        @include media-breakpoint-up(large-tablet) {
          font-size: 30px;
        }
      }
      .chapter {
        h1, h2, h3, h4, h5, h6 {
          padding: 10px 125px 10px 0;
          font-size: 20px;
          word-wrap: break-word;
          @include media-breakpoint-up(large-tablet) {
            font-size: 24px;
          }
        }
      }
    }
  }
  &-actions {
    position: absolute;
    top: 18px;
    right: 0;
    a {
      font-family: feather;
      cursor: pointer;
      font-size: 20px;
      font-weight: 600;
      display: inline-block;
      margin-left: 5px;
      &.disabled {
        cursor: no-drop;
        color: $secondary-medium !important;
      }
    }
    .a2a_kit {
      display: inline-block;
      line-height: inherit;
      .a2a_svg {
        display: none !important;
      }
    }
    .icon {      
      &-print {
        @extend .feather-printer;
      }
      &-link {
        @extend .feather-link-2;
      }
      &-pdf {
        @extend .feather-file;
      }
      &-warning {
        @extend .feather-alert-triangle;
      }
      &-share {
        @extend .feather-share-2;
      }
      &-comment {
        @extend .feather-message-square;
      }
    }
  }
  &-flag {
    position: absolute;
    top: 12px;
    right: 0;
    @include media-breakpoint-down(small-tablet) {
      display: none;
    }
    &-table,
    &-commentary {
      display: none;
      font-weight: 600;
      margin-left: 15px;
      cursor: pointer;
      &:first-child {
        margin-left: 0;
      }
      &:hover {
        color: $danger;
      }
    }
    &-table {
      &::before {
        font-family: feather;
        cursor: pointer;
        font-size: 28px;
        vertical-align: -6px;
        margin-right: 8px;
        content: "\e985";
      }
    }
    &-commentary {
      background-image: url('../../../app-pl/assets/images/commentary-black.png');
      background-size: 28px;
      padding-left: 35px;
      background-repeat: no-repeat;
      padding-bottom: 5px;
      padding-top: 6px;
      position: relative;
      top: 4px;    
      &:hover {
        background-image: url('../../../app-pl/assets/images/commentary-red.png');
      }
    }
  }
}
.section-highlight {
  padding: 0px 10px 10px;
  animation: blinkingBackground 5s infinite;
}
.panel.section-highlight {
  padding-top: 10px;
}
@keyframes blinkingBackground {
  0% {
    background-color: #f0f8ff;
  }
  50% {
    background-color: #e5eff7;
  }
  75% {
    background-color: #f0f8ff;
  }
  100% {
    background-color: #e5eff7;
  }
}
.table-of-contents {
  .item-list__toc {
    margin-left: 0;
    .item-list__toc {
      margin-left: 15px;
    }
  }
}
.toc-right-standard,
.toc-right-commentary {
  @include media-breakpoint-down(medium-tablet) {
    display: block !important;
  }
  .toc-content {
    a {
      color: $danger;
      font-weight: 600;
      &:hover {
        text-decoration: underline;
      }
    }
    .toc-heading a {
      color: $primary;
      &:hover,
      &.active {
        color: $danger;
        text-decoration: none;
      }
    }
  }
}
.use-ajax + .ajax-progress {
  display: none !important;
}