<div class="toc-title">
  {% include "@atoms/text/_heading-4.twig" with {
    heading: heading
  } only %}
  {% if standard_falg %}
    <span class="toc-flag">
      <span class="toc-flag-table">Table of Contents</span>
      <span class="toc-flag-commentary">Commentary</span>
    </span>
  {% else %}
    <span class="toc-close"></span>
  {% endif %}
</div>
{% include "@molecules/grouping/_listing-toc.twig" with {
  toc_items: toc_items
} only %}
