.sidebar {
    &__heading, h5 {
        margin-bottom: 1rem;
        color: $primary;
    }
    ul {
        position: static;
        margin: 0;
        list-style: none;
        padding: 0;
        li {
            border-bottom: 1px solid $secondary-dark;
            &:first-child {
                border-top: 1px solid $secondary-dark;
            }
            a {
                display: block;
                padding: 8px 0;
                &.active,
                &.is-active {
                    text-decoration: underline;
                }
            }
        }
    }
    .show-more {
        margin: 10px 0;
        text-align: right;
        a {
            color: $black;
            font-weight: 600;                
            &::after {
                content: "\e92e";
                font-family: feather;
                font-size: 20px;
                vertical-align: -5px;
            }
        }
    }
    &__logout {
        @extend .btn;
        @extend .btn-primary;
        @extend .btn-small-tablet;
        color: $white !important;
    }
    &__email {
        margin-bottom: 0.5rem;
        margin-top: -0.5rem;
        color: $secondary-dark;
        text-transform: uppercase;
        font-size: 0.75rem;
        span {
            @extend .d-inline-block;
            @extend .align-top;
        }
    }
    &-back {
        margin-bottom: 20px;
        a {
            &::before {
                content: "\e92f";
                font-family: feather;
                position: relative;
                font-weight: 600;
                font-size: 18px;
                vertical-align: -3px;
            }
        }
    }
    &-search {
        margin-bottom: 30px;
        .search-filter-right {
            float: none !important;
            width: 100% !important;
        }
        .form-control {
            max-height: 3.125rem;
            min-height: 3.125rem;
            border-radius: 24px;
            font-size: 1.125rem;
            background-color: $light-blue;
            font-size: 0.875rem;
            font-weight: 600;
            &::placeholder {
                color: $primary;                
            }
        }
        .btn-search {
            font-size: 0;
            padding: 12px 12px;
            line-height: 1;
            margin-right: 1px;
            &::before {
                font-family: feather;
                content: "\e9c1";
                font-size: 20px;
            }
        }
    }
    &-article {
        margin-bottom: 30px;
        &:first-child {
            margin-top: 30px;
            @include media-breakpoint-down(large-tablet) {
                margin-top: 0;
            }
        }
        h5 {
            font-size: 1.313rem;
            padding-bottom: 10px;
            border-bottom: 1px solid $secondary-dark;
            margin-bottom: 0;
        }
        h6 {
            margin-bottom: 10px;
        }
        a {
            display: block
        }
        &-wrapper {
            padding: 15px 0;
            border-bottom: 1px solid $secondary-dark;
            ul {
                list-style: none;
                padding-left: 0;
            }
        }
        ul {
            li {
                margin-top: 10px;
                &:first-child {
                    margin-top: 0;
                }
                a {
                    display: block;
                }
            }
        }
    }
    .navigation__item__menu {
        margin: 0;
    }
}
.page-node-type-item-monograph,
.page-node-type-item-chapter,
.page-node-type-item-report-guideline {
    .sidebar-article {
        &:first-child {
            margin-top: 15px;
            @include media-breakpoint-down(large-tablet) {
                margin-top: 0;
            }
        }
    }
}
.page-node-type-item-test-review {
    .journals-step {
        right: 0;
    }
}