{% spaceless %}
	{% if molecules_only %}
		<table class="table table-border">
	{% endif %}
		<tr>
			{% for td in contents %} 
				<td>{{td.content}}</td>
			{% endfor %}
		</tr>
	{% if molecules_only %}
		</table>
	{% endif %}
{% endspaceless %}
