<ul>
	{% for item in toc_items %}
		<li>
      <div class="toc-heading">
        {% if item.href %}
          {% include "@atoms/button/_anchor-link.twig" with {
            href: item.href,
            title: item.title,
            text: item.text
          } only %}
        {% else %}
          {% include "@atoms/text/_heading-5.twig" with {
            heading: item.heading
          } only %}
        {% endif %}
        {% if item.action_link %}
          <span class="toc-actions">
            {% for al in item.action_link %}
              {% include "@atoms/button/_anchor-link.twig" with {
                href: al.href,
                title: al.title,
                id: al.id,
                class: al.class,
                text: al.text
              } only %}
            {% endfor %}
          </span>
        {% endif %}
        {% if item.below and not item.description %}
          <span class="arrow-toggle"></span>
        {% endif %}
      </div>
      {% if item.description %}
        <div class="toc-content">
          {{ item.description }}
        </div>
      {% endif %}
      {% if item.below %}
        <ul>
          {% for i in item.below %}
            <li>
              {% if i.href or i.heading %}
                <div class="toc-heading">
                  {% if i.href %}
                    {% include "@atoms/button/_anchor-link.twig" with {
                      href: i.href,
                      title: i.title,
                      text: i.text
                    } only %}
                  {% else %}
                    {% include "@atoms/text/_heading-5.twig" with {
                      heading: i.heading
                    } only %}
                  {% endif %}
                  {% if i.action_link %}
                    <span class="toc-actions">
                      {% for al in i.action_link %}
                        {% include "@atoms/button/_anchor-link.twig" with {
                          href: al.href,
                          title: al.title,
                          id: al.id,
                          class: al.class,
                          text: al.text
                        } only %}
                      {% endfor %}
                    </span>
                  {% endif %}
                  {% if i.below and not i.description %}
                    <span class="arrow-toggle"></span>
                  {% endif %}
                </div>
              {% endif %}
              {% if i.description %}
                <div class="toc-content">
                  {{ i.description }}
                </div>
              {% endif %}
              {% if i.below %}
                <ul>
                  {% for j in i.below %}
                    <li>
                      {% if j.href or j.heading %}
                        <div class="toc-heading">
                          {% if j.href %}
                            {% include "@atoms/button/_anchor-link.twig" with {
                              href: j.href,
                              title: j.title,
                              text: j.text
                            } only %}
                          {% else %}
                            {% include "@atoms/text/_heading-5.twig" with {
                              heading: j.heading
                            } only %}
                          {% endif %}
                          {% if j.action_link %}
                            <span class="toc-actions">
                              {% for al in j.action_link %}
                                {% include "@atoms/button/_anchor-link.twig" with {
                                  href: al.href,
                                  title: al.title,
                                  id: al.id,
                                  class: al.class,
                                  text: al.text
                                } only %}
                              {% endfor %}
                            </span>
                          {% endif %}
                        </div>
                      {% endif %}
                      {% if j.description %}
                        <div class="toc-content">
                          {{ j.description }}
                        </div>
                      {% endif %}
                    </li>
                  {% endfor %}
                </ul>
              {% endif %}
            </li>
          {% endfor %}
        </ul>
      {% endif %}      
		</li>
	{% endfor %}
</ul>
