{{ social|raw }}

<a class="linkedin" href="" title="Follow on LinkedIn">
        <svg height="21px" version="1.1" viewBox="0 0 22 21" width="22px" xmlns="http://www.w3.org/2000/svg">
          <title></title>
          <g fill="none" fill-rule="evenodd" id="Symbols" stroke="none" stroke-width="1">
            <g id="li">
              <rect height="20.38" id="Rectangle-Copy-7" width="22" x="0" y="0"></rect>
              <path d="M5.83606557,6.66085246 L5.83606557,19.644459 L2.29508197,19.644459 L2.29508197,6.66085246 L5.83606557,6.66085246 Z M11.7377049,6.66085246 L11.7377049,8.74413115 C13.3854426,5.69180328 20,5.46636066 20,11.666623 L20,19.644459 L16.4590164,19.644459 L16.4590164,13.0299016 C16.4590164,9.05455738 11.7377049,9.35554098 11.7377049,13.0299016 L11.7377049,19.644459 L8.19672131,19.644459 L8.19672131,6.66085246 L11.7377049,6.66085246 Z M4.06557377,1 C5.20577049,1 6.13114754,1.93245902 6.13114754,3.08209836 C6.13114754,4.2317377 5.20695082,5.16419672 4.06557377,5.16419672 C2.92537705,5.16419672 2,4.2317377 2,3.08209836 C2,1.93245902 2.92537705,1 4.06557377,1 Z" fill="#FFFFFF" fill-rule="nonzero" id="Combined-Shape-Copy"></path>
            </g>
          </g>
        </svg>
      </a>