.toolbar-fixed {
    // Start from 976px
    @media only screen and (min-width: 976px) {
        &.toolbar-horizontal {
            .sticky-header .navigation {
                top: 38px;
            }
            .toc-sticky {
                top: 89px;
                max-height: calc(100vh - 89px);
            }
            .toc-right-standard .toc-sticky {
                top: auto;
                max-height: inherit;
                .toc-title {
                    top: 89px;
                }
            }
            &.path-highwire-display {
                .toc-sticky {
                    top: 0;
                    max-height: 100vh;
                }
                .toc-right-standard .toc-sticky {
                    top: auto;
                    max-height: inherit;
                    .toc-title {
                        top: 0;
                    }
                }
            }
        }
    }
    // Start from 610px to 975px and below
    @media screen and (max-width: 975px) and (min-width: 610px) {
        &.toolbar-vertical {}
    }

    // When tray menu open
    &.toolbar-tray-open {
        // Start from 976px
        @media only screen and (min-width: 976px) {
            &.toolbar-horizontal {
                .sticky-header .navigation {
                    top: 78px;
                }
                .toc-sticky {
                    top: 128px;
                    max-height: calc(100vh - 128px);
                }
                .toc-right-standard .toc-sticky {
                    top: auto;
                    max-height: inherit;
                    .toc-title {
                        top: 128px;
                    }
                }
                &.path-highwire-display {
                    .toc-sticky {
                        top: 0;
                        max-height: 100vh;
                    }
                    .toc-right-standard .toc-sticky {
                        top: auto;
                        max-height: inherit;
                        .toc-title {
                            top: 0;
                        }
                    }
                }
            }
        }
    
        // Start from 610px to 975px and below
        @media screen and (max-width: 975px) and (min-width: 610px) {
            &.toolbar-vertical {}
        }
    }
}
#toolbar-administration {
    position: relative;
    z-index: 10000;
}