// Configuration
@import "functions";
@import "mixins";
@import "variables";
@import "utilities";
.fw-medium {
    font-weight: $font-weight-medium;
}
.beta-header-banner {
    display: flex;
    position: relative;
    justify-content: center;
    .block-block-content {
        font-weight: 700;
        font-size: 1.25rem;
        padding-top: 1rem;
        color: $danger;
        @include media-breakpoint-up(large-tablet) {
            position: absolute;
            top: 50px;
            padding-top: 0;
            margin-left: -115px;
        }
    }
}
