.path-frontpage {
  .views-element-container {
    @extend .container;
    @include media-breakpoint-up(medium-tablet) {
      .view-frontpage {
        display: flex;
      }
    }
    .view-empty {
      margin-top: 50px;
      margin-bottom: 50px;
      background-color: $light-blue;
      border: 1px solid $secondary-light;
      padding: 40px 30px;
      width: 100%;
      text-align: center;
      line-height: 36px;
      font-size: 18px;
      @include media-breakpoint-up(medium-tablet) {
        margin-right: -1px;
        width: 65%;
      }
      a {
        font-weight: 700;
        color: $danger;
        margin-top: 20px;
      }
      .links {
        display: flex;
        list-style: none;
        margin: 0;
        padding: 15px 0 30px;
        justify-content: center;
        a {
          @extend .btn;
          @extend .btn-danger;
        }
      }
    }
    .feed-icons {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      background-color: $secondary-light;
      border: 1px solid $secondary-light;
      padding: 40px 30px;
      @include media-breakpoint-up(medium-tablet) {
        width: 35%;
        padding: 0;
      }
      a {
        @extend .btn;
        @extend .btn-info;
      }
    }
  }
}