{% spaceless %}
	{% if card_lr_column %}		
		{% for item in card_lr_column %}
			<div class="card-container">	
				<div class="card-row{% if item.leftimage %} card-row-1{% endif %}{% if item.right_col_width %} card-row-1{% endif %}{% if item.leftimage and item.right_col_width %} card-row-2{% endif %}">
					{% if item.left_col_width %}
						<div class="card-left">
							{% if item.leftimage %}
								<picture>
									{% include "@atoms/images/_image.twig" with {
										image: item.leftimage
									} only %}
								</picture>
							{% endif %}
							{% include "@molecules/card/_card-body.twig" with {
								card_heading: item.card_leftheading,
								card_link: item.card_leftlink
							} only %}							
						</div>
					{% endif %}
					<div class="card-content">
						{% include "@molecules/card/_card-body.twig" with {
							card_heading: item.card_heading,
							card_heading_link: item.card_heading_link,
							card_description: item.card_description,
							card_type_item: item.card_type_item,
							card_radio_input: item.card_radio_input,
							card_content: item.card_content,
							card_link: item.card_link,
							card_download_pdf: item.card_download_pdf,
							card_toggle:item.card_toggle,
						} only %}
						{{ journal_description|raw }}
						{%if (item.inline | length > 0) or (item.icon | length > 0) %}
							<div class="clearfix">
								{% include "@atoms/_inline-element.twig" with {
									inline: item.inline
								}  only %}
								{% include "@atoms/_icons.twig" with {
									icon: item.icon
								}  only %}
							</div>
						{% endif %}
						{% if item.switch %}
							{% include "@atoms/_switch-toggle.twig" with {
								switch: item.switch
							}  only %}
						{% endif %}						
					</div>						
					{% if item.right_col_width %}
						<div class="card-right">
							{% if item.rightimage %}
								<picture>
									{% include "@atoms/images/_image.twig" with {
										image: item.rightimage
									} only %}
								</picture>
							{% endif %}
							{% include "@molecules/card/_card-body.twig" with {
								card_heading: item.card_rightheading,
								card_link: item.card_rightlink
							} only %}
						</div>
					{% endif %}				
				</div>
			</div>
		{% endfor %}
	{% endif %}
{% endspaceless %}
