<table class="table table-bordered border-primary">
  <thead>
	<tr>
	  <th>Breakpoint</th>
	  <th>Class infix</th>
	  <th>Dimensions</th>
	</tr>
  </thead>
  <tbody>
	<tr>
	  <td>X-Small</td>
	  <td><code>mobile</code></td>
	  <td>&lt;576px</td>
	</tr>
	<tr>
	  <td>Small</td>
	  <td><code>small-tablet</code></td>
	  <td>≥576px</td>
	</tr>
	<tr>
	  <td>Medium</td>
	  <td><code>medium-tablet</code></td>
	  <td>≥768px</td>
	</tr>
	<tr>
	  <td>Large</td>
	  <td><code>large-tablet</code></td>
	  <td>≥1024px</td>
	</tr>
	<tr>
	  <td>Desktop</td>
	  <td><code>desktop</code></td>
	  <td>≥1100px</td>
	</tr>
	<tr>
	  <td>Large Desktop</td>
	  <td><code>large-desktop</code></td>
	  <td>≥1248px</td>
	</tr>
  </tbody>
</table>